[submodule "airbnb-clone-client"]
	path = airbnb-clone-client
	url = https://github.com/legitatx/airbnb-clone-client.git
[submodule "airbnb-clone-server"]
	path = airbnb-clone-server
	url = https://github.com/legitatx/airbnb-clone-server.git
